@using ERP.Web.Areas.ProductMod.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer
@model IEnumerable<ProductViewModel>
<div id="div-export-buttons">
    <div class="btn-group">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Create)).Result.Succeeded)
        {
            <a id="btn-create" asp-area="ProductMod" asp-controller="Product" asp-action="OnGetCreateOrEdit" class="btn btn-primary text-white">
                <i class="fa fa-plus-square"></i> 
            </a>
        }
        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            @localizer["Reload"]
        </a>
    </div>
</div>
<table id="productTableComponents" class="table table-striped-blue w-100 nowrap">
    <thead class="bg-thead">
        <tr>
            <th hidden>@localizer["Id"]</th>
            <th>@localizer["Actions"]</th>
            <th>@localizer["Code"]</th>
            <th>@localizer["Description"]</th>
            <th>@localizer["Family/Heading"]</th>
            <th>@localizer["Raw material code"]</th>
            <th>@localizer["Raw material description"]</th>
            <th>@localizer["Width"]</th>
            <th>@localizer["Length"]</th>
            <th>@localizer["Road map"]</th>
            <th>@localizer["Stock"]</th>
            <th>@localizer["Unit"]</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td hidden>
                    @product.Id
                </td>
                    <td class="text-left">
                        <div class="btn-group">
                            <div class="d-flex  animated--grow-in">
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Edit)).Result.Succeeded)
                                {
                                    <a asp-area="ProductMod" asp-controller="Product" asp-action="OnGetCreateOrEdit" asp-route-id=@product.Id class="btn"><img class="action-img-icon" src="../../../images/Editar.svg" width="20" height="20" /></a>
                                }
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Products.Delete)).Result.Succeeded)
                                {
                                    <form id="form_delete_@product.Id" asp-area="ProductMod" asp-controller="Product" method="post" asp-action="OnPostDelete" asp-route-id="@product.Id" asp-route-categoryId="@product.CategoryIdFilter" asp-route-producedBySmak="@product.ProducedBySmak" onsubmit="return jQueryModalDelete(this, '@localizer["Are you sure to delete this record?"]')">
                                        <a href="javascript:$('#form_delete_@product.Id').submit();" class="btn"><img class="action-img-icon" src="../../../images/Eliminar.svg" width="20" height="20" /></a>
                                    </form>
                                }
                                @if (product.Archives.Count > 0)
                                {
                                    @foreach (var row in product.Archives)
                                    {
                                        var path = @row.PathUrl.Replace(@"\\172.16.50.240\ARCHIVOS\SIMPLEMAK\OFICINA TECNICA", "/files");
                                        if (@row.ArchiveTypeId == 1) //PLANOS
                                        {
                                            <a href="http:@path" target="_blank" title="@localizer["Planos"]" class="btn"><img class="action-img-icon" src="../../../images/Plano.svg" width="20" height="20" /></a>
                                        }
                                        else if (@row.ArchiveTypeId == 3) //3D
                                        {
                                            <a href="http:@path" target="_blank" title="@localizer["3D"]" class="btn"><img class="action-img-icon" src="../../../images/3D.svg" width="20" height="20" /></a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </td>
                <td>
                    @product.Code
                </td>
                <td>
                    @product.Description
                </td>
                <td>
                    @{
                        if (product.SubCategory != null)
                        {
                            @product.SubCategory.Description
                        }
                    }
                </td>
                <td>
                    @{
                        if (product.ProductFeature != null)
                        {
                            @product.ProductFeature.RawMaterialCode
                        }
                    }
                </td>
                <td>
                    @{
                        if (product.ProductFeature != null)
                        {
                            @product.ProductFeature.RawMaterialDescription
                        }
                    }
                </td>
                <td>
                    @{
                        if (product.ProductFeature != null)
                        {
                            @product.ProductFeature.ComponentWidhtPiece
                        }
                    }
                </td>
                <td>
                    @{
                        if (product.ProductFeature != null)
                        {
                            @product.ProductFeature.ComponentLongPiece
                        }
                    }
                </td>
                <td>
                    @product.Roadmap
                </td>
                <td id="StoredStock_td">
                    @{
                        if (product.ProductFeature != null)
                        {
                            @if (@product.ProductFeature.StoredStock)
                            {
                                <i class="fa fa-check-circle" style="color: #77DD77" aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fa fa-times-circle" style="color: #FF6961 " aria-hidden="true"></i>
                            }
                        }
                    }
                </td>
                <td id="UnitMeasure_td">
                    @if (@product.UnitMeasure != null)
                    {
                        @product.UnitMeasure.Description
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th hidden>@localizer["Id"]</th>
            <th>@localizer["Actions"]</th>
            <th>@localizer["Code"]</th>
            <th>@localizer["Description"]</th>
            <th>@localizer["Family/Heading"]</th>
            <th>@localizer["Raw material code"]</th>
            <th>@localizer["Raw material description"]</th>
            <th>@localizer["Width"]</th>
            <th>@localizer["Length"]</th>
            <th>@localizer["HDR"]</th>
            <th>@localizer["Stock"]</th>
            <th>@localizer["Unit"]</th>
        </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function () {
        //Busqueda en footers de tablas
        $('#productTableComponents tfoot th').each(function (i) {
            var title = $(this).text();
            if (title != "@localizer["Actions"]") {
                $(this).html('<input type="text" class="search-control" placeholder="' + title + '" data-index="' + i + '" />');
            } else {
                $(this).html('');
            }
        });
        let productTableComponents = $("#productTableComponents").DataTable({
            "oLanguage": @localizer["LanguageDataTable"],
            "columnDefs": [{ "targets": [0], "visible": false, "searchable": false }],
            "order": [[2, "asc"]],
            scrollY: '60vh',
            scrollX: true,
            scrollCollapse: true,
            scroller: true,
            scroller: {
                loadingIndicator: true
            },
            /*stateSave: true,
            stateLoadParams: function (settings, data) {
                for (i = 0; i < data.columns["length"]; i++) {
                    var col_search_val = data.columns[i].search.search;
                    if (col_search_val != "") {
                        $("input", $('#productTableComponents tfoot th')[i]).val(col_search_val);
                    }
                }
            },*/
            "buttons": [
                {
                    extend: 'excelHtml5',
                    text: 'Excel <i class="far fa-file-excel"></i>',
                    titleAttr: 'Exportar archivo Excel',
                    title: 'Datos de productos',
                    exportOptions: {
                        columns: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11,]
                    }
                }]
        });
        productTableComponents.buttons().container()
            .appendTo('#div-export-buttons .btn-group');

            $(productTableComponents.table().container()).on('keyup', 'tfoot input', function () {
                productTableComponents
                .column($(this).data('index'))
                .search(this.value)
                .draw();
        });
    });
</script>