@using Microsoft.AspNetCore.Mvc.Localization
@using ERP.Web.Areas.Purchases.Models.MissingProduct
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer
@{
    ViewData["Title"] = localizer["Edit missing product"];
}
@model MissingProductViewModel

<head>
    <link rel="stylesheet" href="~/css/Purchases/MissingProducts/missingProducts.css" />
</head>
<body>
    <form id="edit-form" method="post" asp-area="Purchases" asp-controller="MissingProduct" asp-action="OnPostEdit" asp-route-id="@Model.Id" enctype="multipart/form-data">

        <div class="form-row">
            <input type="hidden" asp-for="ConcurrencyToken" name="ConcurrencyToken" class="form-control">
            <input type="hidden" asp-for="Quantity" name="Quantity" class="form-control">
            <input type="hidden" asp-for="UserName" name="UserName" class="form-control">
            <input type="hidden" asp-for="CreateDate" name="CreateDate" class="form-control">
            <input type="hidden" asp-for="ProductId" name="ProductId" class="form-control">
            <input type="hidden" asp-for="StateMissingProductId" name="StateMissingProductId" class="form-control">
            <input type="hidden" asp-for="ProviderId" name="ProviderId" class="form-control">
            <input type="hidden" asp-for="QuantityToOrder" name="QuantityToOrder" class="form-control">
            <input type="hidden" asp-for="QuantityToOrderUnitMeasureId" name="QuantityToOrderUnitMeasureId" class="form-control">
            <input type="hidden" asp-for="StorageUnitMeasureId" name="StorageUnitMeasureId" class="form-control">
            <input type="hidden" asp-for="idsForUpdateMassiveComments" name="idsForUpdateMassiveComments" class="form-control">

            @*<div class="col-md-6 mb-3">
            <label asp-for="ProviderId" class="control-label">@localizer["Providers"]</label>
            <select name="ProviderId" class="form-control select2bs4" id="Providers" asp-for="ProviderId" asp-items="@Model.Providers">
            <option value="-1">@localizer["Select provider"]</option>
            </select>
            <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
            <label asp-for="StateMissingProductId" class="control-label">@localizer["Missing product states"]</label>
            <select name="StateMissingProductId" class="form-control select2bs4" id="StateMissingProducts" asp-for="StateMissingProductId" asp-items="@Model.StateMissingProducts">
            </select>
            <span asp-validation-for="StateMissingProductId" class="text-danger"></span>
            </div>*@

            <div class="col-md-12 mb-2">
                <label asp-for="Comments" class="control-label">@localizer["Comment"]</label>
                <textarea tabindex="3" asp-for="Comments" name="Comments" class="form-control" id="Comments" rows="5"></textarea>
            </div>

        </div>

        <div id="buttons-div" class="form-group justify-content-between">
            <button id="btn-save" type="submit" class="btn btn-primary">@localizer["Save"]</button>
            <button type="submit" class="btn btn-default close-button" data-dismiss="modal"> @localizer["Cancel"]</button>
        </div>
    </form>
</body>


<script type="text/javascript" language="javascript">
    $.validator.unobtrusive.parse(document);
    $(document).ready(function () {

        let providersSelect = $('#Providers');
        let stateMissingProductsSelect = $('#StateMissingProducts');

        providersSelect.select2({
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            },
            sorter: function (data) {
                return data.sort(function (a, b) {
                    if (a.id != -1 && b.id != -1) {
                        if (a.text > b.text) {
                            return 1;
                        }
                        if (a.text < b.text) {
                            return -1;
                        }
                        return 0;
                    }
                });
            }
        });

        stateMissingProductsSelect.select2({
            theme: "bootstrap4",
            escapeMarkup: function (m) {
                return m;
            },
            sorter: function (data) {
                return data.sort(function (a, b) {
                    if (a.id != -1 && b.id != -1) {
                        if (a.text > b.text) {
                            return 1;
                        }
                        if (a.text < b.text) {
                            return -1;
                        }
                        return 0;
                    }
                });
            }
        });

        $('#edit-form').on('submit', function () {
            return jQueryModalPostWithRefresh(this, $('#missingProductsTable').DataTable());
        });

    });
</script>