@using Microsoft.AspNetCore.Mvc.Localization
@using ERP.Web.Areas.ProductMod.Models
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer

@model SubCategoryViewModel
<form id="create-form" method="post" asp-controller="SubCategory" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-9">
                    <input type="hidden" asp-for="ConcurrencyToken" name="ConcurrencyToken" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Description"]</label>
                <div class="col-md-9">
                    <input type="text" asp-for="Description" name="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Prefix"]</label>
                <div class="col-md-9">
                    <input type="text" asp-for="Prefix" name="Prefix" class="form-control">
                    <span asp-validation-for="Prefix" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label"> @localizer["Category"]</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="CategoryId" class="form-control select2bs4" id="CategoryId" asp-for="CategoryId" asp-items="@Model.Categories">
                        </select>
                    </div>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["State"]</label>
                <div class="col-md-9">

                    @if (Model.Id == 0 || Model.IsActive)
                    {
                        <input type="checkbox" name="IsActive" value="true" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="IsActive" value="true" />
                    }
                    <label for="IsActive" class="col-form-label">@localizer["Active"]</label>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="row form-group d-flex flex-row-reverse mb-0 mt-2 align-self-end">
        <button type="submit" class="btn btn-default close-button " data-dismiss="modal">@localizer["Cancel"]</button>
        <button id="btn-save" type="submit" class="btn btn-primary text-white mr-1">@localizer["Save"]</button>

    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>