@using Microsoft.AspNetCore.Mvc.Localization
@using ERP.Web.Areas.Clients.Models
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer

@model ReminderViewModel

<head>
    <link href="~/css/Clients/clients.css" rel="stylesheet" />
    <link href="~/css/Clients/reminders.css" rel="stylesheet" />
</head>
<body>
    <form id="create-form" method="post" asp-controller="Client" asp-action="OnPostCreateReminder" asp-route-id="@Model.Id" onsubmit="return jQueryModalPostModified(this);" enctype="multipart/form-data">

        <input type="hidden" asp-for="ConcurrencyToken" name="ConcurrencyToken" class="form-control">
        <input type="hidden" asp-for="ClientId" name="ClientId" class="form-control">

        <div class="form-row mb-3">
            <div class="col-md-6">
                <label asp-for="ReminderDate" class="control-label">@localizer["Alert date"]</label>
                <input asp-for="ReminderDate" name="ReminderDate" type="datetime-local" class="form-control" id="ReminderDate">
                <span asp-validation-for="ReminderDate" class="text-danger"></span>
            </div>
            <div id="contactDateDiv" class="col-md-6">
                <label asp-for="ContactDate" class="control-label">@localizer["Reminder date"]</label>
                <input asp-for="ContactDate" name="ContactDate" type="datetime-local" class="form-control" id="ContactDate">
                <span asp-validation-for="ContactDate" class="text-danger"></span>
            </div>
            <div id="divReminderCheck" class="col-md-12">
                <a class="btn btn-group">
                    <div class="custom-control custom-checkbox small">
                        <input name="ReminderCheck" asp-for="ReminderCheck" class="custom-control-input" type="checkbox" id="ReminderCheck" checked>
                        <label asp-for="ReminderCheck" class="custom-control-label" for="ReminderCheck">@localizer["Activate alert"]</label>
                    </div>
                </a>
            </div>
            <div id="div-country-time" class="col-md-4 mt-4 ml-5 p-3">
                <label asp-for="CountryTime" id="countryTime" for="time">@localizer["The client`s country time is:"] @Model.CountryTime</label>
            </div>
            <div class="col-md-12">
                <label asp-for="Comment" class="control-label">@localizer["Comments"]</label>
                <textarea asp-for="Comment" name="Comment" class="form-control" id="Comment" rows="3"></textarea>
            </div>
        </div>

        <div id="buttons-div" class="form-group justify-content-between">
            <button id="btn-save" type="submit" class="btn btn-primary">@localizer["Save"]</button>
            <button type="submit" class="btn btn-default close-button" data-dismiss="modal">@localizer["Cancel"]</button>
        </div>
    </form>
</body>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        let date = new Date();
        $('#divReminderCheck').prop('hidden', true);
        $('#contactDateDiv').prop('hidden', true);
        $("#ReminderDate").val(date.getFullYear() + "-" + zeroPadded(date.getMonth() + 1) + "-" + zeroPadded(date.getDate()) + "T" + zeroPadded(date.getHours()) + ":" + zeroPadded(date.getMinutes()));
        $("#ContactDate").val(date.getFullYear() + "-" + zeroPadded(date.getMonth() + 1) + "-" + zeroPadded(date.getDate()) + "T" + zeroPadded(date.getHours()) + ":" + zeroPadded(date.getMinutes()));

    });
    function zeroPadded(val) {
        if (val >= 10)
            return val;
        else
            return '0' + val;
    }

    jQueryModalPostModified = form => {
        try {
            $.ajax({
                type: 'POST',
                url: form.action,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.isValid) {

                        $('#btn-save').attr('disabled', 'disabled');
                        $('#btn-save').html('<i class="fa fa-spinner fa-spin"></i> ' + $('#btn-save').text());

                        $('#viewAll').html(res.html)
                        $('#form-modal').modal('hide');

                        let url = (window.location.pathname + window.location.search);
                        let urlFromOrder = url.split("&")[0];
                        if (urlFromOrder == "/clients/client?fromOrder=true") {
                            window.location.href = window.location.href.split("?")[0].replace("/clients/client", "/sales/order?sale=true&fromClient=true");
                        }
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
            return false;
        } catch (ex) {
            console.log(ex)
        }
    }
</script>
