@using Microsoft.AspNetCore.Mvc.Localization
@using ERP.Web.Areas.ProductMod.Models
@inject IHtmlLocalizer<ERP.Language.SharedResource> localizer
@{

    ViewData["Title"] = localizer["Code generator"];

}
@model CodeGeneratorViewModel
<form id="create-form" method="post" asp-controller="CodeGenerator" asp-action="OnPostCreateCodeGenerator" enctype="multipart/form-data">
   
    <div class="row pt-4 pl-4">

        <div class="col-md-5 mb-3">
            <label> @localizer["Select subcategory"]</label>
            <div class="input-group">
                @Html.DropDownListFor(m => m.SubCategoryId, Model.SubCategories, "----------", new { @class = "form-control" })
            </div>
            <span asp-validation-for="SubCategoryId" class="text-danger"></span>
        </div>
        <div class="col-md-1 mb-3">
            <label>@localizer["Quantity"]</label>
            <input type="number" asp-for="Quantity" name="Quantity" id="CodeGeneratorQuantityInput" class="form-control text-center">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="col-md-2 mb-3 align-self-end">
            <button type="button" class="btn btn-primary text-white w-50" id="btnGeneratesCodes">@localizer["Generate"]</button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-10 py-3">
            <div class="row d-flex justify-content-left col-md-12 mb-3 ml-3">
                <label class="card-title">@localizer["Products to generate"]</label>
            </div>
            <div class="table-responsive-sm col-12">
                <table class="table" id="ProductsCodeGeneratorTable">
                    <thead>
                        <tr>
                            <th scope="col" width="10%">@localizer["Code"]</th>
                            <th scope="col">@localizer["Description"]</th>
                            <th scope="col" width="30%">@localizer["SubCategory"]</th>
                            <th scope="col" width="10%">@localizer["Action"]</th>
                            <th scope="col" width="10%">@localizer["State"]</th>

                        </tr>
                    </thead>
                    <tbody>
                        <partial name="Partials/_ProductsItemsTbody" model="@Model" />
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="row form-group d-flex flex-row-reverse mb-0 mt-2 align-self-end">
        <a href='javascript:history.go(-1)' class="btn btn-default ml-1">@localizer["Cancel"]</a>
        <button id="btn-save" type="submit" class="btn btn-primary text-white">@localizer["Save"]</button>
    </div>

</form>

@section Scripts
{
    <script src="~/js/product.js"></script>
}